.app-container {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh; /* Full viewport height */
    position: fixed; /* Fix the sidebar position */
    top: 0;
    left: 0;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    gap: 20px;
    color: black;
}

.sidebar h2 {
    margin-top: 0;
}

.search-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filters h3 {
    margin: 0;
}

.filters button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filters button.active {
    background-color: #0056b3;
}

.filters button:hover {
    background-color: #0056b3;
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 270px;
    color: black;
}

.main-content h1 {
    margin-top: 0;
    text-align: center;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.recipe-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.recipe-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.recipe-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.recipe-details h3,
.recipe-details p {
    margin: 0;
}

.app-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe-list {
    flex: 1;
    margin-right: 20px;
}

.recipe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chart-card {
    width: 20em; /* Adjust the width to fit the content */
    height: 20em; /* Adjust the height to fit the content */
    padding: 10px; /* Adjust the padding as needed */
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chart-card h2 {
    margin-top: 0;
    text-align: center;
}

.recipe-detail-card {
    width: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center the card horizontally */
}

.recipe-detail-card img {
    width: 400px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.recipe-detail-card h1 {
    margin: 0;
    text-align: center;
}

.recipe-detail-card p {
    margin: 5px 0;
    text-align: center;
}

.recipe-detail-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
